html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.background {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
}

img,
.container {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.mountains {
  background: url("./media/portfolio-mountains.png");
  background-size: cover;
}
.ground {
  background: url("./media/portfolio-ground.png");
  background-size: cover;
}

.clouds1 {
  background: url("./media/portfolio-clouds-1.png");
  background-size: cover;
}
.clouds2 {
  background: url("./media/portfolio-clouds-2.png");
  background-size: cover;
}
.character {
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 30vh;
  width: 30vh;
}

.animate-ground {
  animation: background 55s linear infinite;
}

.animate-mountains {
  animation: background 150s linear infinite;
}

.animate-clouds-1 {
  animation: background 90s linear infinite;
}

.idle-clouds-2 {
  animation: background 180s linear infinite;
}

.idle-clouds-1 {
  animation: background 160s linear infinite;
}

.animate-clouds-2 {
  animation: background 115s linear infinite;
}

.character-walk {
  background: url("./media/portfolio-character-walk-spritesheet.png");
  background-size: cover;
  animation: sprite 1s steps(5) infinite;
}

.character-idle {
  background: url("./media/portfolio-character-idle-spritesheet.png");
  background-size: cover;
  animation: sprite 8s steps(5) infinite;
}

@keyframes background {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 150%;
  }
}

@keyframes sprite {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}
